<?xml version="1.0" encoding="UTF-8"?>
<config devicetype="all">
  <!-- 应用ID -->
  <appid>cnnpunion_clear</appid>
  <!-- 应用名称 -->
  <appname>清除缓存H5</appname>
  <!-- 应用版本 -->
  <version>1.0.2</version>
  <date>2018-12-29</date>
  <!-- 应用描述 -->
  <description>清除缓存H5</description>
  <!-- 启动页 -->
  <htmlname>clear.html</htmlname>
  <!-- 是否隐藏标题 1 隐藏 0 不隐藏-->
  <hiddentitlebutton>1</hiddentitlebutton>
  <!-- 是否隐返回 1 隐藏 0 不隐藏-->
  <hiddenbackbutton>1</hiddenbackbutton>
  <!-- 是否隐藏关闭 1 隐藏 0 不隐藏-->
  <hiddenclosebutton>1</hiddenclosebutton>
  <!-- 是否隐藏更多 1 隐藏 0 不隐藏-->
  <hiddenmenubutton>1</hiddenmenubutton>
  <logo>logo.png</logo> 
</config>